{{ form_start(formsortie) }}

{{ form_row(formsortie.nom) }}
{{ form_row(formsortie.duree) }}
{{ form_row(formsortie.dateLimiteInscription) }}
{{ form_row(formsortie.nbInscription) }}
{{ form_row(formsortie.etat) }}
<button type="submit">Enregistrer</button>
{{ form_end(formsortie) }}